%header.navbar
  .container
    %ul.nav.navbar-nav.navbar-left
      %li
        %a{:href => tickets_path}
          Support Help
          %i.glyphicon.glyphicon-comment
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Home",    :root
      %li= link_to "Sobre Nós",   static_pages_about_path
      %li= link_to "Contato", static_pages_contact_path
      - if user_signed_in?
        %li= link_to "Sign out", destroy_user_session_path, method: :delete
