/ end header
%section#featured
  / start slider
  .container
    .row
      .col-lg-12{:align => "center"}
        / Slider
        .big-cta
          .cta-text
            %h2
              %span Use Support Help
%section.callaction
  .container
    .row
      .col-lg-6
        .big-cta
          .cta-text
            %h2
              %span Acesse aqui
            %br/
            = link_to 'Entrar', new_user_session_path , class: 'btn btn-success'
      .col-lg-6
        .big-cta
          .cta-text
            %h2
              %span Cadastre-se
            %br/
            = link_to 'Cadastrar', new_user_registration_path, class: 'btn btn-success'
%section#content
  .container
    .row
    / divider
