= simple_form_for :search,  url: tickets_path , method: :get, html: { class: 'form-horizontal'  } do |f|
  .col-md-10
    = f.input :query, input_html: {value: '', class: 'form-control'}, label: false,
    placeholder: 'Informe o texto de busca...'
  = f.submit "Buscar", class: 'btn btn-default'
