/ left
%h3
  %i.glyphicon.glyphicon-briefcase
  Opções de filtro
%hr/
%ul.nav.nav-stacked
  %li
    = simple_form_for(:ticket, url: tickets_path(:status_id), html: { multipart: true  }) do |f|
      = f.collection_select :status_id, Status.all, :id, :description,
      {include_blank: 'Selecione um status...'}, class: 'form-control'
  %hr/
  %li
    %a{:href => tickets_path}
      %i.glyphicon.glyphicon-time
      Todos
