<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

    <div id='myGrid'>


    <%= grid(@tasks_grid) do |g|

    g.blank_slate content_tag(:div, "Nenhum ticket deste usuário", class: 'well')

    g.column do |ticket|
      link_to('abrir', edit_ticket_path(ticket.id))
    end

    g.column name: 'Título' do |ticket|
      ticket.title
    end

    g.column name: 'Criado em' do |ticket|
      ticket.created_at.strftime('%d/%m/%y %H:%M:%S')
    end

    g.column name: 'Prazo' do |ticket|
      ticket.time_to_respond
    end

  end -%>


    </div>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
