<h1>Abrir Chamado</h1>

<%= render 'form' %>

<script>
  $(document).ready(function() {

    $('#subject_select').prop('disabled', true);

    $('#system_select').change(function() {
        $.ajax({
           url: "<%= remote_drop_donw_url %>",
           type: 'GET',
           data: {
             system_id: $("#system_select option:selected").val()
           },
           async: true,
           dataType: "json",
           error: function(XMLHttpRequest, errorTextStatus, error){
                      alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                  },
          success: function(data){
            $('#subject_select').prop('disabled', false);
            $('#subject_select').find('option:not(:first)').remove();

            for(var i in data)
            {
               var id = data[i].id;
               var title = data[i].title;
               $("#subject_select").append(new Option(title, id));
            }
         }

      });

    });
  });
</script>


<%= link_to 'Back', tickets_path %>
